.badge_swiper {
  background-color: #FFFFFF;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.62rem 0 1.62rem 0;
}

.badge_swiper .swiper {
  width: 65rem;
  height: 3rem;
  margin: 0 !important;
}

.badge_swiper .swiper-slide {
  background: #FFF;
}

.badge_swiper .swiper-slide img {
  width: 10rem;
  border: 1px solid #D8D8D8;
  height: 3rem;
  object-fit: cover;
  cursor: pointer;
}

.badge_swiper .swiper-button-next::after,
.badge_swiper .swiper-button-prev::after {
  display: none;
}

.badge_action {
  justify-content: flex-end;
  position: relative;
  display: flex;
  width: 11.5rem;
  gap: 0.5rem;
  margin-right: 3.5rem;
  height: 2.5rem;
}

.badge_swiper .swiper-button-next {
  width: 2.5rem;
  height: 2.5rem;
  top: 1.4rem;
  left: 3rem;
  transform: rotate(180deg);
  background: url(../img/swiper_arrow.svg) no-repeat top center;
  background-size: cover;
}

.badge_swiper .swiper-button-prev {
  width: 2.5rem;
  height: 2.5rem;
  top: 1.4rem;
  left: 0 !important;
  background: url(../img/swiper_arrow.svg) no-repeat top center;
  background-size: cover;
}

.badge_swiper .badge_autoplay {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.badge_swiper .more {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.footer {
  position: relative;
  height: 15rem;
  background: #1D1D1D;
  display: flex;
  justify-content: center;
}

.footer_content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 80rem;
  margin-top: 2.5rem;
}


.footer_link_list {
  display: flex;
  gap: 3.5rem;
}

.footer_link_list li {
  color: #B3B3B3;
  cursor: pointer;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.footer_link_list li:first-child {
  color: #FFF;
  font-weight: 600;
}

.footer_link_list li::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 8.3rem;
  width: 0.01rem;
  height: 0.8rem;
  background-color: #555555;
}

.footer_link_list li:nth-child(3)::after {
  left: 5rem;
}

.footer_link_list li:nth-child(4)::after {
  left: 5.8rem;
}

.footer_link_list li:last-child::after {
  content: none;
}

.detail_select_wrapper {
  display: flex;
  gap: 16.62rem;
  align-items: flex-end;
}

.site_detail div:first-child {
  color: #D8D8D8;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.01875rem;
  margin-bottom: 0.5rem;
}

.site_detail div:nth-child(2) {
  color: #8E8E8E;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01875rem;
  margin-bottom: 1rem;
}

.site_detail div:nth-child(2) br {
  display: none;
}

.site_detail div:last-child {
  color: #8E8E8E;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0175rem;
}

.site_detail div:last-child br {
  display: none;
}

.select_wrapper {
  display: flex;
  gap: 0.5rem;
}

.select {
  display: flex;
}

.select div {
  cursor: pointer;
  height: 2.75rem;
  display: flex;
  width: 3rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #2D2D2D;
  border-bottom: 1px solid #2D2D2D;
  border-right: 1px solid #2D2D2D;
  color: #8E8E8E;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.select div:hover {
  background-color: #111;
}

#library, #organ {
  cursor: pointer;
  background: #1D1D1D url(../img/footer_select_arrow.svg) no-repeat right 0.5rem center;
  background-size: 1.5rem;
  appearance: none;
  width: 13.25rem;
  height: 2.75rem;
  border: 1px solid #2D2D2D;
  color: #8E8E8E;
  padding: 0 2rem 0 1.06rem;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

#library:focus, #organ:focus {
  outline: none;
}

.scroll_top {
  cursor: pointer;
  position: absolute;
  bottom: 2.56rem;
  right: 1.25rem;
  width: 3rem;
  height: 3rem;
  background: url(../img/scroll_top.svg) no-repeat top center;
  background-size: cover;
}

.scroll_top:hover {
  opacity: 0.7;
}

/*노트북 & 태블릿 가로 : 1024px-1279px*/
@media all and (min-width:1024px) and (max-width:1279px){
  .badge_swiper {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem 1.5rem 1rem;
  }

  .badge_swiper .swiper {
    width: 20.5rem;
    height: 2.92857rem;
    margin: 0 !important;
  }

  .badge_swiper .swiper-slide img {
    width: 9.76188rem;
    height: 2.92856rem;
  }

  .badge_action {
    margin-right:0;
    padding-right: 2rem;
  }

  .badge_swiper .swiper-button-next {
    width: 2rem;
    height: 2rem;
    left: 2.5rem;
  }

  .badge_swiper .swiper-button-prev {
    width: 2rem;
    height: 2rem;
  }

  .badge_swiper .badge_autoplay {
    width: 2rem;
    height: 2rem;
  }

  .badge_swiper .more {
    width: 2rem;
    height: 2rem;
  }

  .footer {
    position: relative;
    height: 27.8rem;
    padding: 2.5rem 1rem 0 1rem;
  }

  .footer_content {
    width: 100%;
    margin-top: 0;
    gap: 1.5rem;
  }

  .footer_link_list {
    flex-direction: column;
    gap: 0.66rem;
  }

  .footer_link_list li {
    font-size: 0.8125rem;
  }

  .footer_link_list li::after {
    content: none
  }

  .detail_select_wrapper {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;

  }

  .site_detail div:first-child {
    font-size: 0.8125rem;
    letter-spacing: -0.01625rem;
  }

  .select_wrapper {
    flex-direction: column;
    gap: 0;
  }

  .site_detail div:nth-child(2) {
    font-size: 0.8125rem;
    line-height: 150%;
    letter-spacing: -0.01625rem;
  }

  .site_detail div:nth-child(2) br {
    display: block;
  }

  .site_detail div:last-child {
    line-height: 150%;
    letter-spacing: -0.015rem;
    font-size: 0.75rem;
  }

  .site_detail div:last-child br {
    display: block;
  }

  #library, #organ {
    width: 17.5rem;
  }

  .select div {
    font-size: 0.8125rem;
  }

  .scroll_top {
    width: 2rem;
    height: 2rem;
    bottom: 9.3rem;
    right: 1rem;
  }
}

/*태블릿 가로 : 769px-1023px*/
@media all and (min-width:768px) and (max-width:1024px){
  .badge_swiper {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem 1.5rem 1rem;
  }

  .badge_swiper .swiper {
    width: 100%;
    height: 2.92857rem;
    margin: 0 !important;
  }

  .badge_swiper .swiper-slide img {
    width: 9.76188rem;
    height: 2.92856rem;
  }

  .badge_action {
    margin-right:0;
    padding-right: 2rem;
  }

  .badge_swiper .swiper-button-next {
    width: 2rem;
    height: 2rem;
    left: 2.5rem;
  }

  .badge_swiper .swiper-button-prev {
    width: 2rem;
    height: 2rem;
  }

  .badge_swiper .badge_autoplay {
    width: 2rem;
    height: 2rem;
  }

  .badge_swiper .more {
    width: 2rem;
    height: 2rem;
  }

  .footer {
    position: relative;
    height: 13rem;
    padding: 2.5rem 1rem 0 1rem;
  }

  .footer_content {
    width: 100%;
    margin-top: 0;
    gap: 1.5rem;
  }

  .footer_link_list {
    gap: 0.66rem;
  }

  .footer_link_list li {
    font-size: 0.8125rem;
  }

  .footer_link_list li::after {
    content: none
  }

  .detail_select_wrapper {
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: space-between;
  }

  .site_detail div:first-child {
    font-size: 0.8125rem;
    letter-spacing: -0.01625rem;
  }

  .select_wrapper {
    gap: 0.5rem;
  }

  .site_detail div:nth-child(2) {
    font-size: 0.8125rem;
    line-height: 150%;
    letter-spacing: -0.01625rem;
  }

  .site_detail div:nth-child(2) br {
    display: none;
  }

  .site_detail div:last-child {
    line-height: 150%;
    letter-spacing: -0.015rem;
    font-size: 0.75rem;
  }

  .site_detail div:last-child br {
    display: none;
  }

  #library, #organ {
    width: 10.5rem;
  }

  .select div {
    font-size: 0.8125rem;
  }

  .scroll_top {
    width: 2rem;
    height: 2rem;
    bottom: 9.3rem;
    right: 1rem;
  }
}

/*모바일 가로 & 태블릿 세로 : 480px-767px*/
@media all and (min-width:480px) and (max-width:767px){
  .badge_swiper {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem 1.5rem 1rem;
  }

  .badge_swiper .swiper {
    width: 20.5rem;
    height: 2.92857rem;
    margin: 0 !important;
  }

  .badge_swiper .swiper-slide img {
    width: 9.76188rem;
    height: 2.92856rem;
  }

  .badge_action {
    margin-right:0;
    padding-right: 2rem;
  }

  .badge_swiper .swiper-button-next {
    width: 2rem;
    height: 2rem;
    left: 2.5rem;
  }

  .badge_swiper .swiper-button-prev {
    width: 2rem;
    height: 2rem;
  }

  .badge_swiper .badge_autoplay {
    width: 2rem;
    height: 2rem;
  }

  .badge_swiper .more {
    width: 2rem;
    height: 2rem;
  }

  .footer {
    position: relative;
    height: 27.8rem;
    padding: 2.5rem 1rem 0 1rem;
  }

  .footer_content {
    width: 100%;
    margin-top: 0;
    gap: 1.5rem;
  }

  .footer_link_list {
    flex-direction: column;
    gap: 0.66rem;
  }

  .footer_link_list li {
    font-size: 0.8125rem;
  }

  .footer_link_list li::after {
    content: none
  }

  .detail_select_wrapper {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;

  }

  .site_detail div:first-child {
    font-size: 0.8125rem;
    letter-spacing: -0.01625rem;
  }

  .select_wrapper {
    flex-direction: column;
    gap: 0;
  }

  .site_detail div:nth-child(2) {
    font-size: 0.8125rem;
    line-height: 150%;
    letter-spacing: -0.01625rem;
  }

  .site_detail div:nth-child(2) br {
    display: block;
  }

  .site_detail div:last-child {
    line-height: 150%;
    letter-spacing: -0.015rem;
    font-size: 0.75rem;
  }

  .site_detail div:last-child br {
    display: block;
  }

  #library, #organ {
    width: 17.5rem;
  }

  .select div {
    font-size: 0.8125rem;
  }

  .scroll_top {
    width: 2rem;
    height: 2rem;
    bottom: 9.3rem;
    right: 1rem;
  }
}

/*모바일 : -479px*/
@media all and (max-width:479px){
  .badge_swiper {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem 1.5rem 1rem;
  }

  .badge_swiper .swiper {
    width: 20.5rem;
    height: 2.92857rem;
    margin: 0 !important;
  }

  .badge_swiper .swiper-slide img {
    width: 9.76188rem;
    height: 2.92856rem;
  }

  .badge_action {
    margin-right:0;
    padding-right: 2rem;
  }

  .badge_swiper .swiper-button-next {
    width: 2rem;
    height: 2rem;
    left: 2.5rem;
  }

  .badge_swiper .swiper-button-prev {
    width: 2rem;
    height: 2rem;
  }

  .badge_swiper .badge_autoplay {
    width: 2rem;
    height: 2rem;
  }

  .badge_swiper .more {
    width: 2rem;
    height: 2rem;
  }

  .footer {
    position: relative;
    height: 27.8rem;
    padding: 2.5rem 1rem 0 1rem;
  }

  .footer_content {
    width: 100%;
    margin-top: 0;
    gap: 1.5rem;
  }

  .footer_link_list {
    flex-direction: column;
    gap: 0.66rem;
  }

  .footer_link_list li {
    font-size: 0.8125rem;
  }

  .footer_link_list li::after {
    content: none
  }

  .detail_select_wrapper {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;

  }

  .site_detail div:first-child {
    font-size: 0.8125rem;
    letter-spacing: -0.01625rem;
  }

  .select_wrapper {
    flex-direction: column;
    gap: 0;
  }

  .site_detail div:nth-child(2) {
    font-size: 0.8125rem;
    line-height: 150%;
    letter-spacing: -0.01625rem;
  }

  .site_detail div:nth-child(2) br {
    display: block;
  }

  .site_detail div:last-child {
    line-height: 150%;
    letter-spacing: -0.015rem;
    font-size: 0.75rem;
  }

  .site_detail div:last-child br {
    display: block;
  }

  #library, #organ {
    width: 17.5rem;
  }

  .select div {
    font-size: 0.8125rem;
  }

  .scroll_top {
    width: 2rem;
    height: 2rem;
    bottom: 9.3rem;
    right: 1rem;
  }
}
