.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-between;
  padding: 1.25rem 3.5rem 1.25rem 3.5rem;
  z-index: 999;
  align-items: center;
  box-shadow: 0 4px 20px 0 rgba(153, 153, 153, 0.10);
}

.header h1 {
  cursor: pointer;
  width: 10.375rem;
  height: 2.25rem;
  background: url(../img/logo.svg) no-repeat top center;
  background-size: cover;
}

.menu {
  display: flex;
  gap: 3.25rem;
  margin-left: 6rem;
}

.menu li {
  color: #1D1D1D;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.03125rem;
  cursor: pointer;
}

.menu li:hover{
  color: #0E4092;
  font-weight: 600;
}

.authentication {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.authentication li {
  cursor: pointer;
  color: #555;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02344rem;
}

.authentication li:last-child {
  width: 2.25rem;
  height: 1.125rem;
  background: url(../img/hamburger.svg) no-repeat top center;
  background-size: cover;
}

.sub_menu {
  width: 100%;
  position: fixed;
  top: 4.75rem;
  left: 0;
  z-index: 999;
  display: flex;
  height: 2.75rem;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  background: #003675;
}

.sub_menu li {
  cursor: pointer;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.025rem;
}

.sub_menu li:hover {
  color: #1CEEFF;
  font-weight: 600;
}

@media (max-width:1300px){
  .menu {
    display: none;
  }

  .authentication li:not(:last-child) {
    display: none;
  }

  .sub_menu {
    display: none;
  }
}

/*노트북 & 태블릿 가로 : 1024px-1279px*/
@media all and (min-width:1024px) and (max-width:1279px){
  .header {
    padding: 1rem;
  }

  .header h1 {
    width: 7.5rem;
    height: 1.92857rem;
    background-size: contain;
  }

  .menu {
    display: none;
  }

  .authentication li:last-child {
    width: 1.5rem;
    height: 0.75rem;
  }

  .authentication li:not(:last-child) {
    display: none;
  }

  .sub_menu {
    display: none;
  }
}

/*태블릿 가로 : 769px-1023px*/
@media all and (min-width:768px) and (max-width:1024px){
  .header {
    padding: 1rem;
  }

  .header h1 {
    width: 7.5rem;
    height: 1.92857rem;
    background-size: contain;
  }

  .menu {
    display: none;
  }

  .authentication li:last-child {
    width: 1.5rem;
    height: 0.75rem;
  }

  .authentication li:not(:last-child) {
    display: none;
  }

  .sub_menu {
    display: none;
  }
}

/*모바일 가로 & 태블릿 세로 : 480px-767px*/
@media all and (min-width:480px) and (max-width:767px){
  .header {
    padding: 1rem;
  }

  .header h1 {
    width: 7.5rem;
    height: 1.92857rem;
    background-size: contain;
  }

  .menu {
    display: none;
  }

  .authentication li:last-child {
    width: 1.5rem;
    height: 0.75rem;
  }

  .authentication li:not(:last-child) {
    display: none;
  }

  .sub_menu {
    display: none;
  }
}

/*모바일 : -479px*/
@media all and (max-width:479px){
  .header {
    padding: 1rem;
  }

  .header h1 {
    width: 7.5rem;
    height: 1.92857rem;
    background-size: contain;
  }

  .menu {
    display: none;
  }

  .authentication li:last-child {
  width: 1.5rem;
  height: 0.75rem;
  }

  .authentication li:not(:last-child) {
    display: none;
  }

  .sub_menu {
    display: none;
  }
}