<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>대구혁신도시 복합혁신센터도서관</title>
		<link href="../../../../resources/homepage/center/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/homepage/center/css/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../../../../resources/homepage/center/css/header.css" />
		<link rel="stylesheet" href="../../../../resources/homepage/center/css/sub.css" />
		<link rel="stylesheet" href="../../../../resources/homepage/center/css/footer.css" />
		<script src="../../../../resources/homepage/center/plugin/jquery-3.7.1.min.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/center/plugin/swiper-bundle.min.js"></script>
		<script src="../../../../resources/homepage/center/js/header.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/center/js/sub.js" type="text/javascript"></script>
		<script src="../../../../resources/homepage/center/js/footer.js" type="text/javascript"></script>
	</head>
	<body>
		<!--	header & sub menu	-->
		<header class="header">
			<h1 aria-label="대구혁신도시 복합혁신센터도서관"></h1>
			<ul class="menu">
				<li>자료검색</li>
				<li>이용안내</li>
				<li>독서문화행사</li>
				<li>열린공간</li>
				<li>도서관안내</li>
				<li>수영장안내</li>
				<li>나의도서관</li>
			</ul>
			<ul class="authentication">
				<li>로그인</li>
				<li>통합회원인증</li>
				<li>회원가입</li>
				<li aria-label="메뉴 더보기"></li>
			</ul>
		</header>
		<ul class="sub_menu">
			<li>회원가입안내</li>
			<li>이용시간 및 휴관일</li>
			<li>자료대출/반납</li>
			<li>책이음서비스</li>
			<li>책나래</li>
			<li>책바다</li>
			<li>사서에게물어보세요</li>
			<li>대구전자도서관</li>
		</ul>

		<!--	content	-->
		<div class="container">
			<div class="sub_header">
				<div class="header_content">
					<div class="sub_menu_title">도서관안내</div>
					<div class="page_title">인사말</div>
					<div class="sub_menu_action_btn_wrapper">
						<img src="/resources/homepage/center/img/print.svg" alt="" />
						<img class="share" src="/resources/homepage/center/img/share.svg" alt="" />
						<div class="sns">
							<img src="/resources/homepage/center/img/facebook.svg" alt="" />
							<img src="/resources/homepage/center/img/twiiter.svg" alt="" />
						</div>
					</div>
				</div>
			</div>

			<div class="content_area">
				<ul class="sub_menu_list_box">
					<li class="sub_menu_list_item"><div>인사말</div></li>
					<li class="sub_menu_list_item sub_menu_list_item_active"><div>연혁</div></li>
					<li class="sub_menu_list_item"><div>조직 및 직원현황</div></li>
					<li class="sub_menu_list_item">
						<div>강습안내</div>
						<img src="/resources/homepage/center/img/sub_menu_drop.svg" alt="" />
					</li>
					<li class="sub_mini_menu_list">
						<div class="sub_mini_menu_list_item">
							<div></div>
							<div class="sub_mini_menu_title">수영</div>
						</div>
						<div class="sub_mini_menu_list_item">
							<div></div>
							<div class="sub_mini_menu_title">아쿠아로빅</div>
						</div>
						<div class="sub_mini_menu_list_item">
							<div class="sub_mini_menu_list_item_img_active"></div>
							<div class="sub_mini_menu_title sub_mini_menu_title_active">GX프로그램</div>
						</div>
					</li>
				</ul>
				<div class="content_wrapper">
					<div class="legend">
						<img src="/resources/homepage/center/img/home.svg" alt="" />
						<img src="/resources/homepage/center/img/chevron_forward.svg" alt="" />
						<div>도서관안내</div>
						<img src="/resources/homepage/center/img/chevron_forward.svg" alt="" />
						<div class="legend_active">인사말</div>
					</div>
					<div class="content"></div>
				</div>
			</div>
		</div>

		<!--	 footer		-->
		<footer class="section fp-auto-height">
			<div class="footer">
				<div class="footer_content">
					<ul class="footer_link_list">
						<li>개인정보처리방침</li>
						<li>영상정보처리방침</li>
						<li>이용약관</li>
						<li>저작권신고</li>
						<li>사이트맵</li>
					</ul>
					<div class="detail_select_wrapper">
						<div class="site_detail">
							<div>대구혁신도시 복합혁신센터도서관</div>
							<div>(41067) 대구 동구 이노밸리로 180 &nbsp;&nbsp;<br />TEL. 053-123-4567&nbsp;&nbsp;FAX. 053-123-4567</div>
							<div>
								Copyright ⓒ 대구혁신도시 복합혁신센터도서관.<br />
								All rights reserved.
							</div>
						</div>
						<div class="select_wrapper">
							<div class="select">
								<label for="library">
									<select id="library">
										<option>국채보상운동기념도서관</option>
										<option>북구도서관</option>
										<option>남부도서관</option>
										<option>북구도서관</option>
									</select>
								</label>
								<div>이동</div>
							</div>
							<div class="select">
								<label for="organ">
									<select id="organ">
										<option>대구광역시유아지원진흥원</option>
										<option>동부교육지원청</option>
										<option>동부교육지원청</option>
										<option>동부교육지원청</option>
									</select>
								</label>
								<div>이동</div>
							</div>
						</div>
					</div>
					<div class="scroll_top"></div>
				</div>
			</div>
		</footer>
	</body>
</html>
